<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title | Online Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/category-list.css">
    <link rel="stylesheet" href="~/Content/css/index-jumbotron.css">
    <link rel="stylesheet" href="~/Content/css/promotion-card.css">
    <link rel="stylesheet" href="~/Content/css/styles.css">
</head>
<body>
    @Html.Partial("Navbar")
    @RenderBody()
    @Html.Partial("Footer")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/bs-init.js"></script>
    <script>
        if (true)
            (function ($) {
                $('#carousel-1').carousel({ interval: 3000 })
                const MD_BREAKPOINT_BOOTSTRAP = 768
                if (window.innerWidth >= MD_BREAKPOINT_BOOTSTRAP) {
                    const elem = $('#category-list')
                    if (!elem) return

                    const MARGIN_TO_TOP = window.innerWidth * 0.02
                    const INITIAL_ELEM_HEIGHT = elem.offset().top

                    elem.css('position', 'relative');

                    $(window).on('scroll', ev => {
                        if (window.innerWidth < MD_BREAKPOINT_BOOTSTRAP) {
                            elem.css('position', '')
                            return
                        }
                        const scrollTop = $(window).scrollTop();

                        elem.stop(false, false).animate({
                            top: scrollTop < INITIAL_ELEM_HEIGHT
                                ? 0
                                : scrollTop - INITIAL_ELEM_HEIGHT + MARGIN_TO_TOP
                        }, 250);
                    });
                }
            })(jQuery);
    </script>
    <script>
        (function ($) {
            const MD_BREAKPOINT_BOOTSTRAP = 768
            if (window.innerWidth >= MD_BREAKPOINT_BOOTSTRAP) {
                const elem = $('#cart-summary')
                if (!elem) return

                const MARGIN_TO_TOP = window.innerWidth * 0.02
                const INITIAL_ELEM_HEIGHT = elem.offset().top

                elem.css('position', 'relative');

                $(window).on('scroll', ev => {
                    if (window.innerWidth < MD_BREAKPOINT_BOOTSTRAP) {
                        elem.css('position', '')
                        return
                    }
                    const scrollTop = $(window).scrollTop();

                    elem.stop(false, false).animate({
                        top: scrollTop < INITIAL_ELEM_HEIGHT
                            ? 0
                            : scrollTop - INITIAL_ELEM_HEIGHT + MARGIN_TO_TOP
                    }, 250);
                });
            }
        })(jQuery);
    </script>
</body>
</html>
