@using OnlineShopDAW.Models
<div class="col-md-3">
    <div class="d-md-none" style="margin: 1rem 0;">
        <a class="btn btn-primary" data-toggle="collapse"
           aria-expanded="true" aria-controls="collapse-1" href="#collapse-1" role="button"
           style="width: 100%;">Show Categories</a>
        <div class="collapse show" id="collapse-1">
            <ul class="list-group" style="margin-top: 1rem;">
                @foreach (Category cat in ViewBag.Categories)
                {
                    <li class="list-group-item">
                        @Html.ActionLink(cat.Name, "index", "products", new { id = cat.CategoryId },
                       new { @class = "text-white"})
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="btn-group-vertical btn-group-lg d-none d-md-block" role="group" id="category-list">
        @foreach (Category cat in ViewBag.Categories)
        {
            <div class="btn-group dropright">
                @Html.ActionLink(cat.Name, "index", "products", new { id = cat.CategoryId },
                       new { @class = "btn btn-secondary", role = "button" })
                <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-expanded="false" type="button"></button>
                <div class="dropdown-menu">
                    @foreach (Product p in cat.Products)
                    {
                        @Html.ActionLink(p.Name, "Show", "Products", new { id = p.ProductId },
                       new { @class = "dropdown-item"})
                    }
                    <span class="text-muted dropdown-item" style="background-color: transparent;">
                        ...and more
                    </span>
                </div>
            </div>
        }
    </div>
</div>
