<div class="container-fluid"
     style="background: rgb(48, 48, 48);padding-top: 4px;padding-bottom: 4px;margin-top: 32px;margin-bottom: 32px;">
    <div class="row text-center d-xl-flex justify-content-center" style="padding-top: 10px;padding-bottom: 10px;">
        <div class="col-auto align-self-center">
            <a class="btn btn-link btn-block text-white p-0 border-0"
               role="button" href="/">Home</a>
        </div>
        <div class="col-auto align-self-center">
            <button class="btn btn-link btn-block text-white p-0 border-0"
                    type="button" data-toggle="modal" data-target="#about-modal">
                About
            </button>
            <div class="modal fade" role="dialog" tabindex="-1" id="about-modal">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title font-weight-bold">About</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>All images used on this website are covered by the <a
                                    href="https://www.pexels.com/creative-commons-images/" target="_blank">Pexels
                                    license</a>&nbsp;or&nbsp;<a
                                    href="https://creativecommons.org/publicdomain/zero/1.0/"
                                    target="_blank">Creative Commons Zero (CC0) license<br></a>Credit goes to the
                                images' photographers and the source website&nbsp;<a href="https://www.pexels.com/"
                                    target="_blank">pexels.com</a></p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button"
                                    data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto align-self-center">
            <button class="btn btn-link btn-block text-white p-0 border-0"
                    type="button" data-toggle="modal" data-target="#contact-modal">
                Contact
            </button>
            <div class="modal fade" role="dialog" tabindex="-1" id="contact-modal">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title font-weight-bold">Contact</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="text-left">
                                    <li>
                                        <span>Alexandru-Gabriel Dumea&nbsp;</span>
                                        <a href="https://github.com/alexanderdx" target="_blank">
                                            on GitHub
                                        </a>
                                    </li>
                                    <li>
                                        <span>Vlad Pirlog&nbsp;</span>
                                        <a href="https://github.com/vladpirlog" target="_blank">
                                            on GitHub
                                        </a>
                                    </li>
                                </ul>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button"
                                    data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto align-self-center">
            <a class="btn btn-link btn-block text-white p-0 border-0"
               role="button" href="https://github.com/alexanderdx/OnlineShopDAW" target="_blank">
                GitHub
            </a>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;padding-bottom: 10px;">
        <div class="col" style="text-align: center;">
            <small class="text-white-50">2020 © Online Shop</small>
        </div>
    </div>
</div>
