@using Microsoft.AspNet.Identity
<div class="index-jumbotron" style="background: rgb(48, 48, 48);margin-bottom: 16px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-light intro">
                    <div class="row no-gutters">
                        <div class="col-auto d-none d-md-block" style="margin-right: 16px;">
                            <div style="background-color: var(--primary);height: 60%;width: 4px;"></div>
                        </div>
                        <div class="col">
                            <h2>Welcome</h2>
                        </div>
                    </div>
                    <p>
                        Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
                        pellentesque ut laoreet vitae. Aliqua sed justo ligula.
                    </p>
                    @{ if (User.Identity.IsAuthenticated)
                        {
                            <a
                               href="#deals-of-the-day"
                               class="btn btn-primary btn-lg font-weight-bold mb-2"
                               role="button" >VIEW DEALS</a>
                        }
                        else
                        {
                            @Html.ActionLink("REGISTER NOW", "Register", "Account", null,
                                     new Dictionary<string, object> {
                               { "role", "button" },
                               { "class", "btn btn-primary btn-lg font-weight-bold mb-2" } })
                        }
                      }
                </div>
            </div>
            <div class="col-auto col-sm-6 col-md-5 d-lg-flex align-self-center">
                <div style="position: relative;">
                    <div class="carousel slide carousel-fade rounded" data-ride="carousel" id="carousel-1"
                         style="position: absolute;right: 13.7%;left: 13.7%;top: 8.5%;bottom: 15%;overflow: hidden;">
                        <div class="carousel-inner" style="height: 100%;width: 100%;">
                            <div class="carousel-item active" style="height: 100%;width: 100%;">
                                <img class="w-100 d-block" src="~/Content/img/jumbotron-carousel-image-2.jpg" alt="Slide Image"
                                     style="height: 100%;">
                            </div>
                            <div class="carousel-item" style="height: 100%;width: 100%;">
                                <img class="w-100 d-block"
                                     src="~/Content/img/jumbotron-carousel-image-3.jpg" alt="Slide Image" style="height: 100%;">
                            </div>
                            <div class="carousel-item" style="height: 100%;width: 100%;">
                                <img class="w-100 d-block"
                                     src="~/Content/img/jumbotron-carousel-image-1.jpg" alt="Slide Image"
                                     style="height: 100%;">
                            </div>
                        </div>
                        <div>
                            <a class="carousel-control-prev" href="#carousel-1" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span>
                            </a><a class="carousel-control-next"
                                   href="#carousel-1" role="button" data-slide="next">
                                <span class="carousel-control-next-icon"></span><span class="sr-only">Next</span>
                            </a>
                        </div>
                        <ol class="carousel-indicators" style="margin-bottom: .25rem;">
                            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-1" data-slide-to="1"></li>
                            <li data-target="#carousel-1" data-slide-to="2"></li>
                        </ol>
                    </div><img class="img-fluid" src="~/Content/img/display-area-laptop.png">
                </div>
            </div>
        </div>
    </div>
</div>
