
<div class="panel-heading">@Model.Name</div>
<div class="panel-body">
    <strong>@Model.Description</strong>
    <br />
    <span class="label label-success">@Model.Price</span>
    <br />
    <i class="glyphicon glyphicon-globe"></i> @Model.Category.Name
    <br />
    <hr>
</div>
