<div class="row no-gutters rounded" id="promotion-card">
    <div class="col">
        <div class="card">
            <div class="card-header d-flex align-items-center" style="border-radius: 0;">
                <span class="font-weight-bold" style="font-size: larger;">
                    Winter Holiday Discounts
                </span>
                <span class="badge badge-primary" style="font-size: medium;margin-left: 8px;">
                    New
                </span>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <strong>Ho Ho Ho!&nbsp;</strong>Santa has arrived earlier at Online
                    Shop. Check out the promotional offers for electronics, clothes and toys, with
                    discounts of up to&nbsp;<strong>75%</strong>.
                </p>
                <a class="card-link" href="#">Learn More</a>
            </div>
            <div class="card-footer text-muted" style="border-radius: 0;">
                <small>Limited stock. Promotion available until December 31st.<br></small>
            </div>
        </div>
    </div>
    <div class="col-lg-auto text-center">
        <img src="~/Content/img/promotion-card-image.jpg" width="100%" height="100%">
    </div>
</div>
