<div class="row no-gutters rounded" id="promotion-card">
    <div class="col">
        <div class="card">
            <div class="card-header d-flex align-items-center" style="border-radius: 0;">
                <span style="font-size: 26px;font-weight: bold;">Promotion</span><span class="badge badge-primary" style="font-size: medium;margin-left: 8px;">New</span>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
                    odio, dapibus ac facilisis in
                </p><a class="card-link" href="#">Learn More</a>
            </div>
            <div class="card-footer text-muted" style="border-radius: 0;">
                <small>Limited stock. Promotion available until December 31st.<br></small>
            </div>
        </div>
    </div>
    <div class="col-auto mx-auto"><img src="~/Content/img/image.jpg" width="100%" height="100%"></div>
</div>
