@{ ViewBag.Title = "Home"; }

@Html.Partial("IndexJumbotron")
<div class="container">
    <div class="row">
        @Html.Partial("CategoryList")
        <div class="col">
            @Html.Partial("DealsOfTheDay")
            @Html.Partial("PromotionCard")
        </div>
    </div>
</div>
