@using OnlineShopDAW.Models
@{ ViewBag.Title = "Cart"; }
<div class="container">
    <div class="row">
        <div class="col-lg-7 col-xl-8">
            <h2 class="text-center font-weight-bold">Shopping Cart</h2>
            @{
                if (ViewBag.CartItems == null)
                {
                    <h4 class="text-center">Your shopping cart is empty.</h4>
                }
                else
                {
                    <ul class="list-group my-4">
                        @{ 
                            foreach (Tuple<Product, int> item in ViewBag.CartItems)
                            {
                                @Html.Partial("Cart/CartItem", item)
                            }
                        }
                    </ul>
                }
            }
        </div>
        @Html.Partial("Cart/CartSummary")
    </div>
</div>
