@{ ViewBag.Title = "Products"; }

<div class="container">
    <h3 class="text-center">@TempData["message"]</h3>

    @if (ViewBag.esteAdmin || ViewBag.esteColaborator)
    {
        <a class="btn btn-primary" href="/products/new">Adauga produs</a>
    }
    <br />
    <br />

    @if (ViewBag.Category != null)
    {
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="breadcrumb-item"><a href="/categories/show/@ViewBag.Category.CategoryId">@ViewBag.Category.Name</a></li>
            <li class="breadcrumb-item active"><span>Products</span></li>
        </ol>
    }
    @foreach (OnlineShopDAW.Models.Product product in ViewBag.Products)
    {
        @Html.Partial("ProductInfo", product)
    }
</div>